* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: apercu-pro, -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  background-color: #8bae00;
  background-image: linear-gradient(to right top, #04d4f6, #8bae00);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.Page {
  width: 100%;
  padding: 0 2rem;
  max-width: 968px;
  margin: 2em auto;
}

h1 {
  font-weight: 300;
  margin-left: -4.3rem;
  margin-bottom: 0;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 img { height: 10rem }

h1 + p { margin-top: 0; }

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.Separator {
  width: 100%;
  display: block;
  height: 5px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ResponsiveContainer {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.ResponsiveContainer > :first-child {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.ResponsiveContainer--crop {
  overflow: hidden;
}

.ResponsiveContainer--crop > :first-child {
  height: auto;
  max-height: initial;
}

.VisuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
