article {
  font-family: 'Baloo Tamma 2', cursive;
  /*background-color: rgba(255,255,255,0.1);*/
  padding: 1em 2em;
  border-radius: 1.5em;
  margin: 2em auto;
  width: 100%;
  max-width: 678px;
}

.Menu,
article {
  background-color: rgba(255, 255, 255, 0.3)
}

@media (max-width: 500px) {
  article {
    margin-left: -1.5em;
    margin-right: -1.5em;
    width: auto;
  }
}

article,
article a {
  color: rgba(0,0,0,0.8);
}

article a {
  font-weight: bold;
}

article a:hover {
  text-decoration: underline;
}

article h1 {
  font-size: 1.7em;
  margin-bottom: 1em;
}

footer {
  text-align: center
}
.resp-sharing-button__link {
  display: inline-block;
  margin: 0 1em;
  width: 1.5em;
  height: 1.5em;
}

summary > * {
  display: inline-block
}

article h3 {
}